@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*limpei um pouco o css 11/06/23*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poiret One', 'cursiv','Courier New', Courier, monospace;
    background-color: #fdfcf9e8;
    text-align: justify;
    
}

header {
    background-image: url(imagens/imagem3.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    background-position: center center;
    
}


h1.principal {
    height: 300px;
    font-family: 'Poiret One', 'cursiv','Courier New', Courier, monospace;
    font-size: 5em;
    color: #070707af;
    position: relative;
    text-align: center;
    width: auto;
    padding-top: 30px;
}

nav.menu {
    height: 50px;
    padding-top: 15px;
    background-color: #fcf9f9;
    list-style-type: none;
    display: inline-block;
    width:100%;
    text-align:center;  
    background-color: #FBEABB;
}

ul li  {
    list-style-type: none;
    display:inline-block;
} 

a {
    margin: 10px;
    position: relative;
	outline: none;
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 18pt; 
}
main {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fffefc54;
}


main > article {
   width: 100%;
   text-align: justify;
}


img.capa {
    width: 200px;
    height: 200px;
    float: right;
}

h1.genero {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: inherit;
    padding: 50px;
    margin-left: 0;
}


h1.livro {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-top: 10px;
}


h2 {
    font-family: 'Poiret One', 'cursiv','Courier New', Courier, monospace;
    font-size: small;
}

h2 > a {
    font-family: 'Poiret One', 'cursiv','Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}


p {
    font-family: 'Poiret One', 'cursiv','Courier New', Courier, monospace;
    text-align: justify;
    line-height: 2em;
    color: #000000ce;
    font-weight: bolder;
    width: 70%;
}

p > a {
    font-family: 'Poiret One', 'cursiv','Courier New', Courier, monospace;
    font-size: 1em;
    color: #000;
    text-decoration: none;

}



a {
    color: #e4c98e;
    transition: all 0.1s ease-out;
  }
  
  a:hover {
    color: #000;
    transition: 1s;
  }
  a:active {
    color: gray;
  }


footer {
    background-color: #FBEABB;
    font-size: small;
    padding: 5px;
    height: 80px;
}

footer > p {
    text-align: center;
}